<section id="education">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Courgette&family=Dosis:wght@200&family=Great+Vibes&family=Indie+Flower&family=Kaushan+Script&family=Libre+Baskerville&family=Montserrat:ital,wght@0,100;1,200&family=Open+Sans+Condensed:ital,wght@1,300&family=Shalimar&display=swap');
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="main">
    <table>
        <tr>
            <td class="title"  data-aos="flip-right"  data-aos-duration="2000">
                <h1>Education</h1>
            </td>
            <td class="message">
                <b><li data-aos="fade-left"> Delhi Public School,Kamptee Road,Nagpur</li></b>
                Class X <br> (year-2017)<br><br>
                <b><li data-aos="fade-left">St. Paul Junior College,Hudkeshwar Road,Nagpur</li></b>
                Class XII  <br> (year-2019) <br><br>
                <b><li data-aos="fade-left">Yeshtwantrao Chavan College Of Engineering,Nagpur</li></b> 
                Bachelor Of Engineering in Computer Technology <br>  (year - 2023)        
            </td>
        </tr>
    </table>
    <svg height="20" width="100%">
        <line x1=10% y1=0 x2=90% y2=0 style="stroke: aquamarine; stroke-width: 5px;" />
    </svg>
</div>
</section>