<section id="skills">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Courgette&family=Dosis:wght@200&family=Great+Vibes&family=Indie+Flower&family=Kaushan+Script&family=Libre+Baskerville&family=Montserrat:ital,wght@0,100;1,200&family=Open+Sans+Condensed:ital,wght@1,300&family=Shalimar&display=swap');
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="main">
        <table>
            <tr>
                <td class="title"  data-aos="flip-right"  data-aos-duration="3000">
                    <h1>Skills</h1>
                </td>
                <td class="message">
                    Hello World
                    
    
    
                </td>
            </tr>
        </table>
       
    </div>
    </section>
