<section id="skills">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Courgette&family=Dosis:wght@200&family=Great+Vibes&family=Indie+Flower&family=Kaushan+Script&family=Libre+Baskerville&family=Montserrat:ital,wght@0,100;1,200&family=Open+Sans+Condensed:ital,wght@1,300&family=Shalimar&display=swap');
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="main">
    <table>
        <tr>
            <td class="title"  data-aos="flip-right"  data-aos-duration="3000">
                <h1>Skills</h1>
            </td>
            <td class="message">
                <li data-aos="flip-left">Data-Structure</li>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                  </div>
                <li data-aos="flip-left" >Python</li>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                  </div>
                <li data-aos="flip-left">Html</li>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
                  </div>
                <li data-aos="flip-left">CSS</li>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
                  </div>
                  <li data-aos="flip-left">Angular</li>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                  </div>
                  <li data-aos="flip-left">Arduino</li>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                  </div>
                <li data-aos="flip-left">C</li>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                  </div>
                <li data-aos="flip-left">Photoshop</li>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                  </div>
                <li data-aos="flip-left">Editing</li>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                  </div>
                <li data-aos="flip-left">Poetry <span class="badge rounded-pill bg-danger">hobby</span></li>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">95%</div>
                  </div>
                


            </td>
        </tr>
    </table>
   
</div>
</section>
