
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Courgette&family=Great+Vibes&family=Kaushan+Script&family=Montserrat:wght@100&family=Shalimar&display=swap');
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

<div class="main">
<div class="intro" data-aos="flip-right" data-aos-duration="3000" >
    <p>I'm Devashish Tamrakar</p><br>
    <svg height="1" width="900">
        <line x1="0" y1="0" x2="900" y2="0" style="stroke:rgb(0, 255, 213);stroke-width:5" />
      </svg>
</div>
<div class="msg">
    A Python Developer, Angular Frontend Developer,Illustrator<br>
    From setting targets to achieving them I look myself <br>
    for gaining more Knowledge . <a href="#about">Scroll</a> to know more<br>
    about me  
    
</div>
<div class="logo">
   <a href="https://www.instagram.com/nikhil_8466/"> <i class="bi bi-instagram"></i></a>
    <i class="bi bi-google"></i>
    <a href="https://www.linkedin.com/in/nikhil-tamrakar-090374187/"><i class="bi bi-linkedin"></i></a>
    <i class="bi bi-twitter"></i>
    <a href="https://github.com/NkhilTamrakar"><i class="bi bi-github"></i></a>
    <i class="bi bi-whatsapp"></i>

</div>
</div>